<h1><%= @restaurant.name %></h1>

<p>
  <strong>Address:</strong> <%= @restaurant.address %>
</p>

<p>
  <strong>Phone:</strong> <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong> <%= @restaurant.category %>
</p>

<h3>Reviews:</h3>
<% if @reviews.any? %>
  <ul>
    <% @reviews.each do |review| %>
      <li>
        <strong>Rating:</strong> <%= review.rating %> <br>
        <strong>Content:</strong> <%= review.content %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No reviews yet for this restaurant.</p>
<% end %>

<h3>Add a Review:</h3>

<%= form_with(model: [ @restaurant, Review.new ], url: restaurant_reviews_path(@restaurant), local: true) do |f| %>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating, in: 0..5 %>
  </div>
  <div class="actions">
    <%= f.submit "Add Review" %>
  </div>
<% end %>
